body{
    display:flex;
   justify-content: center;
   align-items: center;
   background-image: url("coconuttree.jpg");
   background-position: center;
   background-size: cover;

}

.container{
    
    background-color: hotpink;
    margin-top: 200px;
    width:500px;
    transition:width 2s;
    opacity:0.5;
}
    

.orange{

    background-color: orange;
    height:100px;
    transition: height 2s;

  
}

.white{
    display:flex;
    justify-content: center;
    background-color: white;
    height:100px;
   

}

.green{

    background-color: green;
    height:100px;
    transition:height 2s;
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
    font-style: italic;
    font-stretch: narrower;

   

}
#wheel{

    background-color:blue;
    border-radius: 100%;
    width:110px;
    
}

@keyframes flag{
    100%{transform:rotate(360deg);}
}
#wheel:hover {
    animation-name:flag;
    animation-duration:250ms;
    animation-iteration-count: infinite;
}


.container:hover{
    width:800px;
    box-shadow: 0 0 200px blue ;
    border:5px dotted blue;
}